In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# comecinho de qlqr exploratory data analysis

In [2]:
dados = pd.read_csv('aluguel.csv', sep=';') # tem que colocar o separador pq nosso arquivo esta usando ; pra separar
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

In [3]:
type(dados)

pandas.core.frame.DataFrame

In [4]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

# Informações sobre os Dados

In [5]:
#informações
dados.info

<bound method DataFrame.info of                           Tipo                Bairro  Quartos  Vagas  Suites  \
0                    Quitinete            Copacabana        1      0       0
1                         Casa       Jardim Botânico        2      0       1
2      Conjunto Comercial/Sala       Barra da Tijuca        0      4       0
3                  Apartamento                Centro        1      0       0
4                  Apartamento          Higienópolis        1      0       0
...                        ...                   ...      ...    ...     ...
32955                Quitinete                Centro        0      0       0
32956              Apartamento           Jacarepaguá        3      1       2
32957              Apartamento  São Francisco Xavier        2      1       0
32958              Apartamento                Leblon        2      0       0
32959  Conjunto Comercial/Sala                Centro        0      0       0

       Area   Valor  Condominio    IPTU
0        40  1700.0       500.0    60.0
1       100  7000.0         NaN     NaN
2       150  5200.0      4020.0  1111.0
3        15   800.0       390.0    20.0
4        48   800.0       230.0     NaN
...     ...     ...         ...     ...
32955    27   800.0       350.0    25.0
32956    78  1800.0       800.0    40.0
32957    48  1400.0       509.0    37.0
32958    70  3000.0       760.0     NaN
32959   250  6500.0      4206.0  1109.0

[32960 rows x 9 columns]>

In [6]:
#tipo dos dados
type(dados)

pandas.core.frame.DataFrame

In [7]:
# alterando o titulo da coluna
pd.DataFrame(dados.dtypes, columns=['Tipo de Dados'])
tipos_de_dados = pd.DataFrame(dados.dtypes, columns=['Tipo de Dados'])
tipos_de_dados

           Tipo de Dados
Tipo              object
Bairro            object
Quartos            int64
Vagas              int64
Suites             int64
Area               int64
Valor            float64
Condominio       float64
IPTU             float64

In [8]:

# alterando o titulo para a coluna de index
tipos_de_dados.columns.name = 'Variaveis'
tipos_de_dados

Variaveis  Tipo de Dados
Tipo              object
Bairro            object
Quartos            int64
Vagas              int64
Suites             int64
Area               int64
Valor            float64
Condominio       float64
IPTU             float64

In [9]:
#quantidades de observações e variaveis:
dados.shape # retorna o numero de linhas e colunas (variaveis)

(32960, 9)

In [10]:
# lendo items individualmentedentro de uma tupla
# linha
dados.shape[0]

32960

In [11]:
# lendo items inidivualmente: coluna
dados.shape[1]

9

In [12]:
f'O dataframe apresenta, {dados.shape[0]}, registros (imoveis) e {dados.shape[1]} variaveis'

'O dataframe apresenta, 32960, registros (imoveis) e 9 variaveis'

# Abrindo arquivos em outros formatos

In [13]:
# abrindo um JSON
json = open('extra/aluguel.json')
json.read()

'[{"Tipo":"Quitinete","Bairro":"Copacabana","Quartos":1,"Vagas":0,"Suites":0,"Area":40,"Valor":1700.0,"Condominio":500.0,"IPTU":60.0},\n{"Tipo":"Casa","Bairro":"Jardim Bot\\u00e2nico","Quartos":2,"Vagas":0,"Suites":1,"Area":100,"Valor":7000.0,"Condominio":null,"IPTU":null},\n{"Tipo":"Conjunto Comercial\\/Sala","Bairro":"Barra da Tijuca","Quartos":0,"Vagas":4,"Suites":0,"Area":150,"Valor":5200.0,"Condominio":4020.0,"IPTU":1111.0},\n{"Tipo":"Apartamento","Bairro":"Centro","Quartos":1,"Vagas":0,"Suites":0,"Area":15,"Valor":800.0,"Condominio":390.0,"IPTU":20.0},\n{"Tipo":"Apartamento","Bairro":"Higien\\u00f3polis","Quartos":1,"Vagas":0,"Suites":0,"Area":48,"Valor":800.0,"Condominio":230.0,"IPTU":null},\n{"Tipo":"Apartamento","Bairro":"Vista Alegre","Quartos":3,"Vagas":1,"Suites":0,"Area":70,"Valor":1200.0,"Condominio":null,"IPTU":null},\n{"Tipo":"Apartamento","Bairro":"Cachambi","Quartos":2,"Vagas":0,"Suites":0,"Area":50,"Valor":1300.0,"Condominio":301.0,"IPTU":17.0},\n{"Tipo":"Casa de Condom\\u00ednio","Bairro":"Barra da Tijuca","Quartos":5,"Vagas":4,"Suites":5,"Area":750,"Valor":22000.0,"Condominio":null,"IPTU":null},\n{"Tipo":"Casa de Condom\\u00ednio","Bairro":"Ramos","Quartos":2,"Vagas":2,"Suites":0,"Area":65,"Valor":1000.0,"Condominio":null,"IPTU":null},\n{"Tipo":"Conjunto Comercial\\/Sala","Bairro":"Centro","Quartos":0,"Vagas":3,"Suites":0,"Area":695,"Valor":35000.0,"Condominio":19193.0,"IPTU":3030.0}]'

In [14]:
# colocando o json em um formato de data frame
df_json = pd.read_json('extra/aluguel.json')
df_json

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000,19193.0,3030.0

In [15]:
#abrindo em txt
txt = open('extra/aluguel.txt')
print(txt.read()) # precisa printar mesmo se n fica esquisito

Tipo	Bairro	Quartos	Vagas	Suites	Area	Valor	Condominio	IPTU
Quitinete	Copacabana	1	0	0	40	1700	500	60
Casa	Jardim BotÃ¢nico	2	0	1	100	7000
Conjunto Comercial/Sala	Barra da Tijuca	0	4	0	150	5200	4020	1111
Apartamento	Centro	1	0	0	15	800	390	20
Apartamento	HigienÃ³polis	1	0	0	48	800	230
Apartamento	Vista Alegre	3	1	0	70	1200
Apartamento	Cachambi	2	0	0	50	1300	301	17
Casa de CondomÃ­nio	Barra da Tijuca	5	4	5	750	22000
Casa de CondomÃ­nio	Ramos	2	2	0	65	1000
Conjunto Comercial/Sala	Centro	0	3	0	695	35000	19193	3030

In [16]:
#transformando o txt pra um formato de pandas pq o txt ta tabulado
df_txt = pd.read_table('extra/aluguel.txt')
df_txt

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000,19193.0,3030.0

In [17]:
#abrindo em excel agora
df_xlsx = pd.read_excel('extra/aluguel.xlsx')
df_xlsx

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [ ]:
# abrindo html
df_html = pd.read_html('extra/dados_html_2.html')
df_html