# Análise IV
## Análisando a Frequencia das seleções
#### 1) Selecione somente os imóveis classifiados como tipo 'Apartamento'
#### 2) Selecione os imóveis com os tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'
#### 3) Selecione os imóveis com área entre 60 e 100 metros quadrados, incluíndo os limites
#### 4) Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$2000.00

In [ ]:
import pandas as pd

In [ ]:
dados = pd.read_csv('aluguel_residencial.csv', sep = ';')
dados.head(10)

# 1) Selecione somente os imóveis classifiados como tipo 'Apartamento'

In [ ]:
selecao_apartamento = dados.Tipo == 'Apartamento'
selecao_apartamento

In [ ]:
# a frequencia
n1 = dados[selecao_apartamento].shape[0]
n1

# 2) Selecione os imóveis com os tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'

In [ ]:
#selecao_casas = dados.Tipo == 'Casa' | dados.Tipo == 'Casa de Comdomínio' | dados.Tipo == 'Casa de Vila'
#selecao_casas # vai gerar um erro do jeito que ta na primeira linha tem que botar entre parenteses
selecao_casas = (dados.Tipo == 'Casa') | (dados.Tipo == 'Casa de Comdomínio') | (dados.Tipo == 'Casa de Vila')
selecao_casas
n2 = dados[selecao_casas].shape[0]
n2

# 3) Selecione os imóveis com área entre 60 e 100 metros quadrados, incluíndo os limites

In [ ]:
# é o equivalente a dizer que a área está 60 <= Area <= 100
selecao_area = (dados.Area >= 60) & (dados.Area <= 100)
selecao_area
n3 = dados[selecao_area].shape[0]
n3

# 4) Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$2000.00

In [ ]:
dados.head(10)
selecao_quartos = (dados.Quartos >= 4) & (dados.Valor < 2000)
selecao_quartos
n4 = dados[selecao_quartos].shape[0] # acho que tem que deixar entre [] pq to passando como se fosse uma lista?
n4

In [ ]:
print("1) Selecione os imóveis classifiados como tipo 'Apartamento: '", n1)
print("2) Selecione os imóveis com os tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila': ", n2)
print("3) Selecione os imóveis com área entre 60 e 100 metros quadrados, incluíndo os limites: ", n3)
print("4) Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$2000.00: ", n4 )

# exercicios alura

In [ ]:
# exercicios alura
alunos = pd.DataFrame({'Nome': ['Ary', 'Cátia', 'Denis', 'Beto', 'Bruna', 'Dara', 'Carlos', 'Alice'], 
                        'Sexo': ['M', 'F', 'M', 'M', 'F', 'F', 'M', 'F'], 
                        'Idade': [15, 27, 56, 32, 42, 21, 19, 35], 
                        'Notas': [7.5, 2.5, 5.0, 10, 8.2, 7, 6, 5.6], 
                        'Aprovado': [True, False, False, True, True, True, False, False]}, 
                        columns = ['Nome', 'Idade', 'Sexo', 'Notas', 'Aprovado'])

In [170]:
# 1) aprovadOs
alunos.head(10)
aprovados = (alunos.Aprovado == True) & (alunos.Sexo == 'M')
aprovados = alunos[aprovados]
aprovados

   Nome  Idade Sexo  Notas  Aprovado
0   Ary     15    M    7.5      True
3  Beto     32    M   10.0      True

In [ ]:
# 2) apenas aprovadas
alunos.head(10)
apravados = (alunos.Aprovado == True) & (alunos.Sexo == 'F')
ex2 = alunos[aprovadas]
ex2

In [ ]:
# 3) idade entre 10 e 20 anos OU com idade > 40
idades = (alunos.Idade > 10) & (alunos.Idade < 20) | (alunos.Idade > 40)
ex3 = alunos[idades]
ex3

In [202]:
# 4) Crie um DataFrame somente com os alunos reprovados e mantenha neste DataFrame apenas as colunas Nome, Sexo e Idade, nesta ordem.
alunos.head(10)
#reprovados = (alunos.Aprovado == False)
#reprovados
#reprovados = alunos[reprovados].drop(columns='Aprovado').drop(columns='Notas')
#reprovados.head(10)
#df.iloc[[2,0],[3,0]]
selecao = alunos.Aprovado == False
reprovados = alunos.loc[selecao, ['Nome', 'Sexo', 'Idade']] # o loc é pra mexer com listas, e entao ele precisa ser tratado como lista na hora de chamar as coisas pra ele, os parametros tem q ser como lista
reprovados # Access a group of rows and columns by label(s) or a boolean array.
# ou seja pra acessarmos nome sexo e idade, precisamos pasasr eles como lista, e antes disso precisamos dizer nossa condição que no caso é aluno aprovado = false q ta na variavel selecao
# Allowed inputs are:
#A single label, e.g. 5 or 'a', (note that 5 is interpreted as a label of the index, and never as an integer position along the index).
#A list or array of labels, e.g. ['a', 'b', 'c']. # podemos passar assim tbm, como fizemos
#A slice object with labels, e.g. 'a':'f'.

     Nome Sexo  Idade
1   Cátia    F     27
2   Denis    M     56
6  Carlos    M     19
7   Alice    F     35

In [198]:
alunos.head(10)

     Nome  Idade Sexo  Notas  Aprovado
0     Ary     15    M    7.5      True
1   Cátia     27    F    2.5     False
2   Denis     56    M    5.0     False
3    Beto     32    M   10.0      True
4   Bruna     42    F    8.2      True
5    Dara     21    F    7.0      True
6  Carlos     19    M    6.0     False
7   Alice     35    F    5.6     False

In [182]:
# outra resposta pro ex 4
selecao = alunos['Aprovado'] == False
reprovados = alunos[['Nome', 'Sexo', 'Idade']][selecao]
reprovados

     Nome Sexo  Idade
1   Cátia    F     27
2   Denis    M     56
6  Carlos    M     19
7   Alice    F     35

In [180]:
# mais uma resposta pro exercicio 4
selecao = alunos['Aprovado'] == False
reprovados = alunos.loc[selecao, ['Nome', 'Sexo', 'Idade']]
reprovados

     Nome Sexo  Idade
1   Cátia    F     27
2   Denis    M     56
6  Carlos    M     19
7   Alice    F     35

In [164]:
alunos.head(10)

     Nome  Idade Sexo  Notas  Aprovado
0     Ary     15    M    7.5      True
1   Cátia     27    F    2.5     False
2   Denis     56    M    5.0     False
3    Beto     32    M   10.0      True
4   Bruna     42    F    8.2      True
5    Dara     21    F    7.0      True
6  Carlos     19    M    6.0     False
7   Alice     35    F    5.6     False

# Extra - Formas de Seleções

In [ ]:
'l1, l2, l3, l4 '.split() # o split vc passa uma string e ele já cria uma lista bonitin

In [ ]:
data = [(1,2,3,4),
        (5,6,7,8),
        (8,10,11,12),
        (13,14,15,16)]
df = pd.DataFrame(data, 'l1 l2 l3 l4'.split(), 'c1 c2 c3 c4'. split())
df

In [ ]:
df['c1'] # selecionando uma coluna
# vai retornar uma series
type(df['c1'])

In [ ]:
# selecionando mais de uma coluna
df[['c3','c1']] # ai ja vira um dataframe
type(df[['c3','c1']])

In [ ]:
#selecionando linhas
df[:] # é aquele esqueminha com o :
# ele sempre vai comer o último selecionado

In [ ]:
df[1:] # selecionando apartir da linha 1 até todo o resto

In [ ]:
df[1:3] # l2 e l3, ele sempre vai comer a ultima entao temos que botar 1:3 o 3 vai pq é 1 a mais pq ele come a ultima

In [ ]:
#linhas e colunas
df[1:4][['c3','c1']]

In [ ]:
#metodo loc: ele permite que selecionamos apartir dos rótulos das linhas e retorna uma series
df.loc['l3']

In [ ]:
#selecionando mais de uma linha
df.loc[['l3', 'l4']]

In [ ]:
# selecionando linhas e colunas
df.loc['l1', 'c2']

In [ ]:
#método iloc: ao invez de usar rótulos ele utiliza os indices númericos
df.iloc[0, 1] # posição da linha, dps posição da coluna

In [ ]:
df
df.iloc[2,3] # linha 3 coluna 4 
# é bom esse metodo pq da pra usar loops

In [ ]:
#selecionando grupos de linhas e colunas
df.loc[['l3','l1'], ['c4', 'c1']]

In [ ]:
# msm coisa da linha de cima mas com iloc usando índices
df.iloc[[2,0],[3,0]]

In [ ]:
df