# Relatório de Análise V
## Tratamento de Dados Faltantes

In [40]:
import pandas as pd

In [41]:
dados = pd.read_csv('aluguel_residencial.csv', sep = ';')
dados.head(10)

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,0,0,0,0,0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,1,1,1,1,1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0
2,2,2,2,2,2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,3,3,3,3,3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0
4,4,4,4,4,5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
5,5,5,5,5,6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0
6,6,6,6,6,7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0
7,7,7,7,7,9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0
8,8,8,8,8,10,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0
9,9,9,9,9,11,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0

In [42]:
#metodo isnull
dados.isnull() # se a observação for nula vai retornar true, se n for nula = false

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22086,False,False,False,False,False,False,False,False,False,False,False,False,False,False
22087,False,False,False,False,False,False,False,False,False,False,False,False,False,False
22088,False,False,False,False,False,False,False,False,False,False,False,False,False,False
22089,False,False,False,False,False,False,False,False,False,False,False,False,False,False
22090,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [43]:
#metodo notnull
# é o contrario do isnull
dados.notnull()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22086,True,True,True,True,True,True,True,True,True,True,True,True,True,True
22087,True,True,True,True,True,True,True,True,True,True,True,True,True,True
22088,True,True,True,True,True,True,True,True,True,True,True,True,True,True
22089,True,True,True,True,True,True,True,True,True,True,True,True,True,True
22090,True,True,True,True,True,True,True,True,True,True,True,True,True,True

In [44]:
#vendo informações do dataframe 
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22091 entries, 0 to 22090
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          22091 non-null  int64
 1   Unnamed: 0.1        22091 non-null  int64
 2   Unnamed: 0.1.1      22091 non-null  int64
 3   Unnamed: 0.1.1.1    22091 non-null  int64
 4   Unnamed: 0.1.1.1.1  22091 non-null  int64
 5   Tipo                22091 non-null  object
 6   Bairro              22091 non-null  object
 7   Quartos             22091 non-null  int64
 8   Vagas               22091 non-null  int64
 9   Suites              22091 non-null  int64
 10  Area                22091 non-null  int64
 11  Valor               22091 non-null  float64
 12  Condominio          22091 non-null  float64
 13  IPTU                22091 non-null  float64
dtypes: float64(3), int64(9), object(2)
memory usage: 2.4+ MB

In [45]:
#passando dados como lista e valor como a coluna, utilizando o método é nulo pra ver quais são nulos
dados[dados['Valor'].isnull()]

Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 0.1, Unnamed: 0.1.1, Unnamed: 0.1.1.1, Unnamed: 0.1.1.1.1, Tipo, Bairro, Quartos, Vagas, Suites, Area, Valor, Condominio, IPTU]
Index: []

In [46]:
#mesma coisa acima mas como series
dados.Valor.isnull()

0        False
1        False
2        False
3        False
4        False
         ...
22086    False
22087    False
22088    False
22089    False
22090    False
Name: Valor, Length: 22091, dtype: bool

In [47]:
#PASSANDO a linha 14 pros dados
dados[dados['Valor'].isnull()]

Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 0.1, Unnamed: 0.1.1, Unnamed: 0.1.1.1, Unnamed: 0.1.1.1.1, Tipo, Bairro, Quartos, Vagas, Suites, Area, Valor, Condominio, IPTU]
Index: []

In [48]:
#tamanho do dataframe
a = dados.shape[0]
a

22091

In [49]:
#removendo os nulos
dados.dropna(subset= ['Valor']) # o subset é a lista com as variaveis que queremos alterar no caso a coluna valor
b = dados.shape[0] # tamanho do dataframe pós remover
b

22091

In [50]:
a - b # vendo quantos foram removidos

0

In [51]:
#NÃO FUNCINOU OS CÓDIGOS ACIMAS
#Pq precisamos colocar inplace=true
dados.dropna(subset= ['Valor'], inplace=True)
b = dados.shape[0]
b

22091

In [52]:
# quantos foram removidos
a - b

0

In [53]:
# verificando se foi removido mesmo
dados[dados['Valor'].isnull()]

Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 0.1, Unnamed: 0.1.1, Unnamed: 0.1.1.1, Unnamed: 0.1.1.1.1, Tipo, Bairro, Quartos, Vagas, Suites, Area, Valor, Condominio, IPTU]
Index: []

# Agora precisamos tratar as colunas 'Condominio' e 'IPTU' 
## Elas tem características diferentes das outras

In [54]:
# O problema do condominio é que se ele for nulo vamos usar a seguinte lógica:
# Se o Imóvel for tipo apartamento e tiver condomínio Nulo Vamos tirar do dataframe, pq todo apartamento tem um preço de condominio
dados[dados['Condominio'].isnull()].shape[0] # o tanto que é nulo

0

In [55]:
#selecionando imoveis do tipo apartamento que tem condomínio nulo
#selecao = (dados['Tipo'] == 'Apartamento') & (dados['Condominio'].isnull()) # essa seleção está errada, pq queremos tirar eles n selecionar eles
#selecao

In [56]:
a = dados.shape[0]
#dados = dados[] <- esse [] significa novo dado
dados = dados[~selecao] # colocamos o ~ pra inverter uma series boolean, oq era true vira false, e o q era false vira true
b = dados.shape[0]
dados
a - b 
# invertemos o ~selecao pq queremos o contrario da selecao que fizemos, queremos pegar o que o tipo NÃO FOR apartamento e que o condominio NÃO É NULO

NameError: name 'selecao' is not defined

In [ ]:
dados

In [ ]:
#agora temos esse tanto aqui de condominios nulos
dados[dados['Condominio'].isnull()].shape[0]

In [ ]:
# colocando um valor pros que são condominios nulos
dados.fillna(0, inplace=True) # colocamos o 0 pq queremos trocar os nulos por 0, e o inplace=true q é pra mudar direto no dataframe
dados.head(100)

In [ ]:
#outro modo de substituir os nulos
dados = dados.fillna({'Condominio' : 0, 'IPTU' : 0}) # chave, valor, vai substituir usando esse parametro
dados.head(50)

In [ ]:
#vendo a quantidade de nulos
dados[dados['Condominio'].isnull()].shape[0], dados[dados['IPTU'].isnull()].shape[0]
dados

In [ ]:
dados.info()

In [ ]:
# agora exportando esse dataframe
##dados

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,0,0,0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,1,1,1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0
2,2,2,2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,3,3,3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0
4,4,4,5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...
22086,22086,22086,22840,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22087,22087,22087,22841,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22088,22088,22088,22842,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22089,22089,22089,22843,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22090,22090,22090,22844,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0

In [ ]:
#dados = pd.read_csv('aluguel_residencial.csv', sep=';')
#dados.head(10)

In [ ]:
# removendo o index
dados.to_csv('aluguel_residencial.csv', sep=';', index ='False')

KeyError: "['Unnamed: 0\\t'] not found in axis"

In [ ]:
dados

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,0,0,0,0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,1,1,1,1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0
2,2,2,2,2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,3,3,3,3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0
4,4,4,4,5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22086,22086,22086,22086,22840,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22087,22087,22087,22087,22841,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22088,22088,22088,22088,22842,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22089,22089,22089,22089,22843,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22090,22090,22090,22090,22844,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0

In [60]:
dados.drop(dados.filter(regex="Unname"),axis=1, inplace=True)
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
...,...,...,...,...,...,...,...,...,...
22086,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22087,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22088,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22089,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22090,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0

In [62]:
dados.to_csv('aluguel_residencial.csv', sep=';', index=False)
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
...,...,...,...,...,...,...,...,...,...
22086,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22087,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22088,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22089,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22090,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0

In [63]:
dados.index = range(len(dados.index))

In [64]:
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
...,...,...,...,...,...,...,...,...,...
22086,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22087,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22088,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22089,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22090,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0