In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [7]:
tmdb = pd.read_csv('tmdb_5000_movies.csv')
tmdb.head()

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500
2  245000000  ...       4466
3  250000000  ...       9106
4  260000000  ...       2124

[5 rows x 20 columns]

# Colunas diferents são chamadas de varíaveis
## Cada tipo de variavel (coluna) armazena tipos de dados diferentes

In [12]:
# vendo as linguas
tmdb.original_language.unique()
# dentro deste tipo de dado, (o idioma) tratamos esse tipo de dado que ele é categorico, ou é en ou fr ou pt ou ar ou cs e etc...
# esse tipo de categoria se chama categoria nominal

array(['en', 'ja', 'fr', 'zh', 'es', 'de', 'hi', 'ru', 'ko', 'te', 'cn',
       'it', 'nl', 'ta', 'sv', 'th', 'da', 'xx', 'hu', 'cs', 'pt', 'is',
       'tr', 'nb', 'af', 'pl', 'he', 'ar', 'vi', 'ky', 'id', 'ro', 'fa',
       'no', 'sl', 'ps', 'el'], dtype=object)

In [14]:
# o tipo de categoria do idioma original n tem uma ordem necessariamente todas as linguas tem o mesmo peso
# outro exemplo mas esse tem peso seria:
# primeiro grau < segundo grau < terceiro grau esse tipo de classificação se chama categorica ordinal
# n faz sentido dizer que uma pessoa de terceiro grau tem mais importancia que a de primeiro grau, n da pra comparar e usar matematica

In [15]:
# o orçamento é uma quantidade qualitativa, é uma variavel qualitativa e continua pq pode ser infinitos valores entre x e y

In [ ]:
# a quantidade de votos é um tipo de dado (variavel) é ou 1,2,3,4 n existe numero quebrado ou seja
# é quantitativa, 4 votos são 4 votos de 4 pessoas, 1 voto é 1 voto de uma pessoa, una pessoa que deu 2 considera o filme 2x melhor que alguem que deu nota 1
# e também as distancias entre os votos é a mesma, a dist entre 1 e 2 é a msm de 3 e 4
# as notas do outro data set (movielens) é intervalar